/** Adonis Expressions
***/
[character="Adonis"][curious] {
  --icon:url("https://cdn.jsdelivr.net/gh/310mc/css@latest/img/adonis_curious.png");
}
[character="Adonis"][norsmile] {
  --icon:url("https://cdn.jsdelivr.net/gh/310mc/css@latest/img/adonis_norsmile.png");
}
[character="Adonis"][northinking] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/adonis_northinking.png");
}
[character="Adonis"][serious] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/adonis_serious.png");
}
[character="Adonis"][smileconfident] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/adonis_smileconfident.png");
}
[character="Adonis"][srsthinking] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/adonis_srsthinking.png");
}
/**
***/

/** Keito Expressions
***/
[character="Keito"][hazyflush] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/keito_hazyflush.png");
}
[character="Keito"][admonishment] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/keito_admonishment.png");
}
/**
***/

/** Shinobu Expressions
***/
[character="Shinobu"][sob] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/shinobu_sob.png");
}
[character="Shinobu"][angrycloseup] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/shinobu_angrycloseup.png");
}
[character="Shinobu"][blushsquint] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/shinobu_blushsquint.png");
}
/**
***/

/** Leo Expressions
***/
[character="Leo"][angry] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/leo_angry.png");
}
[character="Leo"][angrycloseup] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/leo_angrycloseup.png");
}
[character="Leo"][curious] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/leo_serious.png");
}
[character="Leo"][frown] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/leo_frown.png");
}
[character="Leo"][grin] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/leo_grin.png");
}
[character="Leo"][laughgrin] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/leo_laughgrin.png");
}
[character="Leo"][niyaclosed] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/leo_niyaclosed.png");
}
[character="Leo"][norsmile] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/leo_norsmile.png");
}
[character="Leo"][northinking] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/leo_northinking.png");
}
[character="Leo"][resignation] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/leo_resignation.png");
}
[character="Leo"][serious] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/leo_serious.png");
}
[character="Leo"][shocked] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/leo_shocked.png");
}
[character="Leo"][srsthinking] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/leo_northinking.png");
}
[character="Leo"][smileconfident] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/leo_smileconfident.png");
}
[character="Leo"][surprised] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/leo_surprised.png");
}
[character="Leo"][yaresubstitute] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/leo_yaresubstitute.png");
}

[character="Leo"][dominant] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/leo_dominantocg.png");
}
/**
***/

/** Natsume Expressions
***/
[character="Natsume"][curious] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/natsume_curious.png");
}
[character="Natsume"][norsmile] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/natsume_norsmile.png");
}
[character="Natsume"][smileconfident] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/natsume_smileconfident.png");
}
[character="Natsume"][smilesoft] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/natsume_smilesoft.png");
}
[character="Natsume"][yare] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/natsume_yare.png");
}
/**
***/

/** Madara Expressions
***/
[character="Madara"][dominant] {
  --icon:url("https://cdn.jsdelivr.net/gh/citrinesea/css@latest/img/madara_dominantocg.png");
}
/**
***/